<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <title>Dealers</title>
</head>
<style>
    table{

        border:1px solid black;
    }
    thead{
        font-weight:800;
        border:1px solid black;
    }
    tbody{
        border:1px solid black;
    }

    tbody tr{
        border:1px solid black;
    }
</style>
<body>
    {% if dealers %}
    <table>
        <thead>
            <tr>
              <td>Full Name</td>
              <td>State</td>
              <td>City</td>
              <td>Address</td>            
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealers %}
                <tr>
                    <td>{{dealer.full_name}}</td>
                    <td>{{dealer.state}}</td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h5>No dealers available, I'm sorry!</h5>
    {% endif %}
</body>
</html>